<script id="Interest-Input-Template" type="text/x-custom-template">
    <div class="margin-ex-bottom-10" data-role="Interests-item">
        <div class="input-group">
            <input maxlength="40" name="Interests[{{index}}].Interest" class="form-control input-sm" type="text">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm btn-danger" data-role="Interests-Remove" type="button" tabindex="-1">
                    <i class="fa fa-remove"></i>
                </button>
            </span>
        </div>
    </div>
</script>