<script id="No-Result-Template" type="text/x-custom-template">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-warning margin-ex-right"></i>
            <strong>Your search query did not match any person.</strong>
        </div>
    </div>
</script>