<section id="People-List">
    <div class="container">
        <div class="text-light">
            <div class="text-center margin-ex-bottom-20">
                <h2 class="strong margin-ex-bottom-20">
                    <i class="fa fa-users margin-ex-right"></i>
                    <span>Existing People List</span>
                </h2>
                <h3>Find the existing records here.</h3>
            </div>

            <table id="Main-Table" class="table">
                <thead>
                    <tr>
                        <th class="min-col"></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birth Date</th>
                        <th>Address</th>
                        <th>Interests</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button id="Add-Person-Button" class="btn btn-info" type="button">
                <i class="fa fa-plus margin-ex-right"></i>
                <strong>Add Person</strong>
            </button>
        </div>
    </div>
</section>